<div class="container">
    <h1>Tipos de Fornecedores</h1>
 
   <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="primary" style="margin: 0;">Cadastrar</button>

    <mat-form-field appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>   
   
     <div class="mat-elevation-z8">
         <table mat-table [dataSource]="dataSource">
                  
           <ng-container matColumnDef="idTipoFornecedor">
             <th mat-header-cell *matHeaderCellDef> ID </th>
             <td mat-cell *matCellDef="let element"> {{element.idTipoFornecedor}} </td>
           </ng-container>
                  
           <ng-container matColumnDef="descricao">
             <th mat-header-cell *matHeaderCellDef> Descrição </th>
             <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
           </ng-container>
                  
           <ng-container matColumnDef="acoes">
             <th mat-header-cell *matHeaderCellDef> Ações </th>
             <td mat-cell *matCellDef="let element">
                <a routerLink="update/{{ element.idTipoFornecedor }}">
                   <i class="material-icons edit">edit</i>
                </a>
                <a routerLink="delete/{{ element.idTipoFornecedor}}">
                   <i class="material-icons delete">delete</i>
                </a>
             </td>
          </ng-container>
       
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
       
         <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
       </div>
 
 </div>
 