.two {
    width: 90%;
}

.tre {
    width: 90%;
    margin-left: 1rem;
}

.descr {
    width: 60%;
}

button {
    margin-top: .5rem;
}

.status {
    display: flex;
    justify-content: space-between;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 15px;
  } 

.curral{
    margin-left: 32px;
}
