<div class="container">
    <h1>Vacinas</h1>
   
     <button routerLink="create" class="mat-elevation-z8 fullWidth" mat-stroked-button color="primary" style="margin: 0;">Cadastrar</button>
  
     <mat-form-field appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Vacina..." #input>
    </mat-form-field>
      
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
                
          <ng-container matColumnDef="idVacina">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.idVacina}} </td>
          </ng-container>
                          
          <ng-container matColumnDef="nomeVacina">
            <th mat-header-cell *matHeaderCellDef> Nome Vacina </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeVacina}} </td>
          </ng-container>

          <ng-container matColumnDef="fabricante">
            <th mat-header-cell *matHeaderCellDef> Fabricante </th>
            <td mat-cell *matCellDef="let element"> {{element.fabricante}} </td>
          </ng-container>

          <ng-container matColumnDef="nomeFantasia">
            <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeFantasia}} </td>
        </ng-container>
                
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef class="acoes"> Ações </th>
            <td mat-cell *matCellDef="let element" class="acoes">
              <a routerLink="update/{{ element.idVacina }}">
                  <i class="material-icons edit">edit</i>
              </a>
              <a routerLink="delete/{{ element.idVacina}}">
                  <i class="material-icons delete">delete</i>
              </a>
            </td>
        </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
   
   </div>
   