<div class="container" style="padding: 0;">         
    <div class="mat-elevation-z2" >

      <h1 style="margin-left: 15px;">Registro de Movimentações</h1> 

      <table mat-table [dataSource]="dataSource">  
        <ng-container matColumnDef="dataHoraMovimentacao">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.dataHoraMovimentacao}} </td>
        </ng-container>

        <ng-container matColumnDef="situacao">
          <th mat-header-cell *matHeaderCellDef> Situação </th>
          <td mat-cell *matCellDef="let element"> {{retornaSituacao(element.situacao)}} </td>
        </ng-container>
      
        <ng-container matColumnDef="lote">
          <th mat-header-cell *matHeaderCellDef> Lote </th>
          <td mat-cell *matCellDef="let element"> {{element.lote}} - {{element.descLote}} </td>
        </ng-container>
      
        <ng-container matColumnDef="curralPiquete">
          <th mat-header-cell *matHeaderCellDef> Curral-Piquete </th>
          <td mat-cell *matCellDef="let element"> {{element.curralPiquete}} - {{element.descCurralPiquete}}</td>
        </ng-container>

        <ng-container matColumnDef="pessoa">
          <th mat-header-cell *matHeaderCellDef> Funcionário </th>
          <td mat-cell *matCellDef="let element"> {{element.idPessoa}} - {{element.nomePessoa}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
        <mat-paginator [pageSizeOptions]="[4, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
    
  
    
  