.container {
    max-width: 35rem;
    margin: auto;
    padding: 1rem;
    border-radius: .6rem;
}

.fullWidth {
    width: 100%;
}

.two {
    width: 90%;
}

.tre {
    width: 90%;
    margin-left: 1rem;
}

h1,
p {
    text-align: center;
}

img {
    height: 12rem;
    margin: auto;
}

.section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

p {
    margin-top: 4rem;
    opacity: .5;
}

mat-icon {
    opacity: .8;
}

.status {
    display: flex;
    justify-content: space-between;
}