<div class="container">
    <h1>Administradores</h1>
    
    <mat-form-field appearance="standard">
        <mat-label>Pesquisar</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="idPessoa">
                <th mat-header-cell *matHeaderCellDef > ID </th>
                <td mat-cell *matCellDef="let element"> {{element.idPessoa}} </td>
            </ng-container>

            <ng-container matColumnDef="nomePessoa">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nomePessoa}} </td>
            </ng-container>

            <ng-container matColumnDef="cpfCnpjPessoa">
                <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
                <td mat-cell *matCellDef="let element"> {{element.cpfCnpjPessoa | mask: 'CPF_CNPJ' }} </td>
            </ng-container>
            
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-Mail </th>
                <td mat-cell *matCellDef="let element" > {{element.emailPessoa}} </td>
            </ng-container>

            <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let element"> {{element.telefonePessoa | mask: '(00) 00000-0000'}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef class="acoes"> Ações </th>
                <td mat-cell *matCellDef="let element" class="acoes">
                    <a title="Atualizar Registro" routerLink="../{{ element.idPessoa }}">
                        <i class="material-icons edit">edit</i>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>