<h1 style="margin-top: 20px; font-weight: 800; font-size: 30px;">Análises Gerenciais</h1>

<div class="row">
    <div class="col-md-6 col-mb-12" style="text-align: center; margin: auto;">
        <span class="tituloDash">Morte de Animais por mês desde o inicio do ano</span>
        <canvas #cvMorteAnimais></canvas>
    </div>

    <div class="col-md-6 col-mb-12" style="text-align: center; margin: auto;">
        <span class="tituloDash">Peso e Quantidade atual dos lotes</span>
        <canvas #cvPesoLotes></canvas>
    </div>
</div>

<hr>

<div class="col-md-12 col-mb-12" style="max-width: 40%; margin: auto; text-align: center;">
    <span class="tituloDash">Peso dos animais</span>
    <canvas #cvPesoAnimais></canvas>
</div>

<hr>

<div class="row">
    <div class="col-md-6 col-mb-12" style="text-align: center; margin: auto;">
        <span class="tituloDash">Quantidade de doses de vacinas por animal</span>
        <canvas #cvVacinasAnimais></canvas>
    </div>
    
    <div class="col-md-6 col-mb-12" style="text-align: center; margin: auto;">
        <span class="tituloDash">Quantidade de doses de vacinas por lote</span>
        <canvas #cvVacinasLote></canvas>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6 col-mb-12" style="text-align: center; margin: auto;">
        <span class="tituloDash">Quantidade de Ração por animal</span>
        <canvas #cvAlimentoAnimais></canvas>
    </div>
    
    <div class="col-md-6 col-mb-12" style="text-align: center; margin: auto;">
        <span class="tituloDash">Quantidade de Ração por lote</span>
        <canvas #cvAlimentoLote></canvas>
    </div>
</div>
