mat-radio-button{
    margin-right: 10px;
}

.quadrado{
    margin-right: 10px;
     font-weight: 500; 
     border: solid 1px; 
     min-width: 70px; 
     min-height: 20px; 
     text-align: center;
 }