<div class="container">
    <h1>Rações</h1>
 
   <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="primary" style="margin: 0;">Cadastrar</button>

    <mat-form-field appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

     <div class="mat-elevation-z8">
         <table mat-table [dataSource]="dataSource">             
            <ng-container matColumnDef="idRacao">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.idRacao}} </td>
            </ng-container>
                  
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <ng-container matColumnDef="unidade">
              <th mat-header-cell *matHeaderCellDef> Unidade </th>
              <td mat-cell *matCellDef="let element"> {{element.unidade}} </td>
            </ng-container>

            <ng-container matColumnDef="diasValidade">
              <th mat-header-cell *matHeaderCellDef> Dias de Validade </th>
              <td mat-cell *matCellDef="let element"> {{element.diasValidade}} </td>
            </ng-container>

            <ng-container matColumnDef="formula">
              <th mat-header-cell *matHeaderCellDef> Fórmula </th>
              <td mat-cell *matCellDef="let element">
                <a title="Adicionar Fórmula para Ração" style="width: 50px; height: 30px; margin: 0; align-items: center; align-content: center; margin-left: 10px;" routerLink="formula/formula/create/{{ element.idRacao }}">
                  <i class="material-icons">library_books</i>
                </a>
              </td>
            </ng-container>
                
            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef class="acoes"> Ações </th>
              <td mat-cell *matCellDef="let element" class="acoes">
                  <a title="Atualizar Registro" routerLink="update/{{ element.idRacao }}">
                    <i class="material-icons edit">edit</i>
                  </a>
                  <a title="Deletar Registro" (click)="delete(element.idRacao)">
                    <i class="material-icons delete cursor">delete</i>
                  </a>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
       
         <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
       </div>
 </div>
 