<div class="container">
    <h1 style="margin: 0;">Estoque de Ração</h1>
   
    <mat-form-field appearance="standard">
        <mat-label>Pesquisar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>   
   
     <div class="mat-elevation-z8">
         <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="racao">
              <th mat-header-cell *matHeaderCellDef> Ração </th>
              <td mat-cell *matCellDef="let element"> {{element.idRacao}} - {{element.descrRacao}} </td>
            </ng-container>

            <ng-container matColumnDef="unidade">
                <th mat-header-cell *matHeaderCellDef> Unidade </th>
                <td mat-cell *matCellDef="let element"> {{ element.unidade }} </td>
              </ng-container>

            <ng-container matColumnDef="dataFabricacao">
                <th mat-header-cell *matHeaderCellDef> Fabricação </th>
                <td mat-cell *matCellDef="let element"> {{retornaDataFormata(element.dataFabricacao)}} </td>
            </ng-container>

            <ng-container matColumnDef="dataValidade">
              <th mat-header-cell *matHeaderCellDef> Validade </th>
              <td mat-cell *matCellDef="let element"> {{retornaDataFormata(element.dataValidade)}} </td>
            </ng-container>

            <ng-container matColumnDef="saldo">
                <th mat-header-cell *matHeaderCellDef> Saldo </th>
                <td mat-cell *matCellDef="let element"> {{element.saldo}} </td>
              </ng-container>
                  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
       
         <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
       </div>
 </div>
 