body{
  background: red;
  background-color: red;
  color: red;
}

html{
  background: red;
  background-color: red;
  color: red;
}


.divImagem {
    display: flex;
    text-align: center;
}

.divCampos{
  align-items: center;
  justify-content: center;
}

img{
  height: 15rem;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: 800;
}