/* Solução temporária para problema de tela */
.nav1 {
    height: 100%;
}

/* Perfil do Usuário */
.profile {
    text-align: center;
}
.profile img {
    margin-top: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile p {
    margin-top: 1rem;
    color: rgb(148, 143, 143);
    font-weight: 700;
    margin-bottom: 10px;
}

/* Menu */
.sidenav {
    width: auto;
    min-width: 13rem;
    background-color: #F5F5F5
}
.sidenav a {
    font-size: 16px;
    font-family: verdana;
    color: black;
}
.sidenav a:hover {
    background-color: gainsboro;
}
.sidenav a:active {
    background-color: azure;
}