.container {
    width: 90%;
    margin-top: 30PX;
  }
  
  table {
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    width: 100%;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .edit {
    color: rgb(0, 153, 255);
  }
  
  .delete {
    color: red;
  }
  
  button{
    width: 100%;
    margin-bottom: 2rem;
  }