.two {
    width: 40%;
}

.tre {
    width: 40%;
    margin-left: 1rem;
}

.pri {
    width: 90%;
}

.seg {
    width: 90%;
    margin-left: 1rem;
}

.one {
    width: 40%;
    margin-left: 1rem;
}

button {
    margin-top: .5rem;
}

.dividi {
    display: flex;
    justify-content: space-between;
}